@use "__config" as *;

.aside {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1000;
   background-color: var(--clr-white);

   &:is(&--load) {
      animation: footer .5s ease forwards;
      @media (min-width: 70em) {
         animation: aside 1s ease forwards;
      }
   }
}