@use "__config" as *;

.footer {
   position: relative;
   padding-block: var(--sz-main-padding);
   background-color: var(--clr-primary);
   color: var(--clr-white);

   @media (min-width: 70em) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      width: 100%;
   }

   // &::before {
   //    display: block;
   //    position: fixed;
   //    right: 0;
   //    bottom: 0;
   //    left: 0;
   //    content: '';
   //    z-index: 1000;
   //    background-color: var(--clr-white);
   //    height: 100%;
   // }

   // &:is(&--load)::before {
   //    animation: footer 1s ease forwards;
   // }

   &__contacts {
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;
      gap: rem(24);

      @media (min-width: 70em) {
         flex-direction: column;
      }
   }

}