@use "__config" as *;

.header {
   position: fixed;
   width: 100%;
   background-color: var(--clr-white);
   z-index: 10;

   @media (min-width: 70em) {
      background-color: transparent;
   }

   &:is(&--nav-active) {
      z-index: 50;
   }

   &__conatiner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: var(--sz-main-padding);
      max-height: calc(var(--sz-navigation) + var(--sz-main-padding) * 2);

      @media (min-width: 70em) {
         padding-bottom: 0;
         max-height: none;

      }
   }

   &__logo {
      --color: var(--clr-primary);
      display: grid;
      place-items: center;
      color: var(--color);
      font-size: var(--fs-logo);
      border: rem(2) solid var(--color);
      padding: em(10,32) em(15, 32);
      padding-bottom: em(12, 32);
      font-weight: var(--fw-semi-bold);
     
      transition: all .5s ease;

      @media (min-width: 50em) {
         z-index: 20;
      }

      @media (min-width: 70em) {
         --color: var(--clr-white);
          
      }
   }

      // &__btn {
      //    align-self: center;
      // }

   &__logo:where(:hover, :focus-visible) {
      text-decoration: none;
   }

   &__logo--active {
      @media (min-width: 50em) {
         position: relative;  
         color: var(--clr-primary);
         border-color: var(--clr-primary);

      }
   }
   
   &__nav {
      
   }
}
