@use "__config" as *;

.main {
   flex-grow: 1;
   

   

   &:has(&__vertex) {
      @media (min-width: 70rem) {
         display: grid;
      }
   }

   &:has(&__vertex) &__container {
      display: flex;
      flex-direction: column;
      gap: var(--space-xl);
      padding-top: calc(var(--fs-logo) + var(--sz-main-padding)* 3);

      @media (min-width: 50em) {
         padding-top: calc(var(--fs-logo) + var(--sz-main-padding)* 3 + var(--space-lg));
         flex-direction: row;
      }

      @media (min-width: 70em) {
         display: grid;
         padding-top: 0;
         grid-template-columns: calc(var(--sz-aside-width) / 2) var(--sz-aside-width) 1fr;
      }
   }

   &:has(&__vertex) &__content {
     @media (min-width: 70em) {
         display: flex;
         grid-column-start: 3;
         flex-direction: column;
     }
   }

   &:has(&__vertex) &__body {
     @media (min-width: 70em) {
         margin-block: auto;
     }
   }
   
   &__header {
         position: relative;

      
      text-transform: uppercase;
      font-weight: var(--fw-bold);
      justify-self: flex-start;
      width: min-content;
      padding-bottom: 0.5em;
      // padding-top: calc(var(--fs-logo) + var(--sz-main-padding)* 3);
      // @include rfs(42px);

      @media (min-width: 50em) {
         // left: 0;
         padding-top: 0;

      }

      @media (min-width: 70em) {
         // left: calc(var(--sz-aside-width) + var(--sz-main-padding));
         z-index: 10;
         // padding-top: calc(var(--sz-main-padding) + (var(--fs-logo)/2)/2);
      }
   }

   &:not(:has(&__vertex)) &__header {
      left: var(--sz-main-padding);
      padding-top: calc(var(--fs-logo) + var(--sz-main-padding)* 3);
      @media (min-width: 70em) {
         left: calc(var(--sz-main-padding) + var(--sz-aside-width));
         padding-top: var(--sz-main-padding);
      }
   }

   &__header:is(.clipped) ~ &__container {
      padding-top: calc(var(--fs-logo) + var(--sz-main-padding)* 3);

      @media (min-width: 70em) {
         padding-top: var(--sz-main-padding);
      }
   }
   
   &__container {
      
      padding-bottom: var(--sz-main-padding);
      @media (min-width: 70em) {
         display: grid;
         // padding-block:  var(--sz-main-padding);
         grid-template-columns: var(--sz-aside-width) 1fr;
      }
   }
   
   &__content {
      @media (min-width: 70em) {
         position: relative;
         padding-left: calc(var(--sz-main-padding) * 2);
         z-index: 2;
         grid-column-start: 2;
      }
   }

   &__body {
     display: grid;
     gap: rem(10);
   }

   &__vertex {
      order: 1;

      @media (min-width: 50em) {
          order: 0;
      }

      @media (min-width: 70em) {
        
         grid-column-start: 2;
         max-height: calc(100vh - var(--sz-main-padding) * 2);
         align-self: center;
      }
   }
}