@use "__config" as *;

button:where([class]),
a:where(.btn) {
   display: inline-block;
   background-color: transparent;
   border: none;
   padding: 0;
   margin: 0;
   cursor: pointer;
   text-decoration: none;
}

.btn {
   padding: em(8,16) em(16,16);
   text-transform: uppercase;
   border-radius: em(30,16);
   color: var(--clr-white);
   background-color: var(--clr-primary);
   border: em(2,16) solid var(--clr-primary);
   font-weight: var(--fw-bold);
   letter-spacing: rem(2);
   transition: all .3s ease;

   &:where(:hover, :focus-visible) {
      filter: brightness(0.9);
   }

   &:disabled {
      border-color: var(--clr-silver);
      color: var(--clr-silver);
   }

   &--trns {
      border-color: var(--clr-black);
      color: var(--clr-black);
      background-color: transparent;
   }

   &--trns:where(:hover, :focus-visible) {
      border-color: var(--clr-primary);
      color: var(--clr-white);
      background-color: var(--clr-primary);
   }
}
