@use "__config" as *;

.msg {
   --send-anim-time: 500ms;
   --inner-anim-time: 300ms;

   position: relative;
   background-color: transparent;
   color: transparent;
   border: none;
   // pointer-events: none;

   &--sending {
      background-size: 300% 300%;
      background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 17%, 
            rgba(152,68,183,1) 34%, 
            rgba(255,53,127,1) 50%,
            rgba(152,68,183,1) 67%, 
            rgba(87,111,230,1) 84%,
            rgba(59,173,227,1) 100%, 
      );  
      animation: AnimateBG 5s ease infinite;
   }
   
   &--send::before,
   &--done::after {
      position: absolute;
      inset: 0;
      content: '';
      border-radius: 1.875em;
      background-color: var(--clr-primary);
      border: 0.125em solid var(--clr-primary);
      animation-duration: var(--send-anim-time);
      animation-name: msg-squish;
      animation-fill-mode: forwards;
      color: var(--clr-wild-sand);  
   }

   &__text {
      
   }

   &--done::after {
      right: 44%;
      left: 44%;
      scale: 1.8;
      animation-direction: reverse;
      animation-duration: var(--send-anim-time);
      animation-name: msg-squish;
      animation-fill-mode: forwards;
   }

   &__inner {
      // display: none;
      position: absolute;
      top: -17%;
      left: 50%;
      translate: -50%;
      width: rem(48);
      height: rem(48);
   }

   &__ok {
      display: none;
   }

   &__ok path {
      fill: none;
      stroke: var(--clr-wild-sand);
      stroke-width: 1;
      stroke-linecap: round;
      stroke-dashoffset: 20;
      stroke-dasharray: 20;
      animation-name: msg-inner-ok;
      animation-duration: var(--inner-anim-time);
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: calc(var(--send-anim-time) + 300ms);
   }

   &__error {
      display: none;
   }

   &__error path {
      fill: none;
      stroke: var(--clr-wild-sand);
      stroke-width: 1;
      stroke-linecap: round;
      stroke-dashoffset: 216;
      stroke-dasharray: 216;
      animation-name: msg-inner-error;
      animation-duration: var(--inner-anim-time);
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: calc(var(--send-anim-time) + 300ms);
   }

   &[data-type="ok"] &__ok,
   &[data-type="error"] &__error {
      display: block;
   }

}

