@use "__config" as *;

.portfolio {
   --item-padding: var(--space-lg);

   &__options {
      padding-bottom: var(--space-md);
   }

   &__list {
      display: grid;
      gap: var(--sz-main-padding);
      @media (min-width: 50em) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__item {
      display: grid;
      position: relative;
      aspect-ratio: 1;
      padding: var(--item-padding);
      color: var(--clr-white);
      gap: var(--space-sm);
      place-content: end;
      overflow-y: auto;
   }

   &__item::before {
      position: absolute;
      content: '';
      inset: 0;
      background-color: var(--clr-primary);
      opacity: 0;
      z-index: 1;
      transition: opacity .3s ease;
   }

   &__item::after {
      display: none;
      position: absolute;
      top: var(--item-padding);
      right: var(--item-padding);
      content: attr(data-type);
      padding: rem(4) rem(8);
      border: 1px solid var(--clr-white);
      color: var(--clr-white);
      border-radius: rem(5);
      @include rfs(14px);
   }

   &__item a {
      color: var(--clr-white);
   }

   &__item:where(:hover, :focus-visible, :focus-within)::after {
      display: block;
   }

   &__item:where(:hover, :focus-visible, :focus-within)::before {
      opacity: 0.9;
      z-index: -1;
   }

   &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      
   }

   &__item:where(:hover, :focus-visible, :focus-within) &__img {
      z-index: -2;
   }

   &__date {
      @include rfs(12px);
      
   }

   &__name {
      font-weight: var(--fw-bold);
      @include rfs(32px);
   }

   &__content,
   &__more-info {
      padding-right: 20%;
   }

   &__link {
      position: absolute;
      right: var(--item-padding);
      bottom: var(--item-padding);
      width: 15%;
      padding: 5%;
      height: 15%;
      fill: var(--clr-white);
      z-index: -1;
      border: rem(1) solid var(--clr-white);
      overflow: hidden;
   }

   &__item:where(:hover, :focus-visible, :focus-within) &__link {
      z-index: 0;
   }

   &__link:where(:hover, :focus-visible) &__link-icon {
      --anim-time: .5s;
      left: 200%;
      transition: left var(--anim-time) linear;
      animation: portfolio-icon-link calc(var(--anim-time)*2) linear var(--anim-time) infinite;
   }

   &__link-icon {
      position: relative;
      left: 0;
      width: 100%;
      height: 100%;
   }
}