@use "__config" as *;
.resume {

   &__header {
      padding-bottom: 0.5em;
   }

   &__panel {
   }

   &__list {
      display: flex;
      gap: rem(20);
      padding-bottom: rem(30);
      flex-wrap: wrap;
      @media (min-width: 70em) {
         gap: rem(50);
      }
   }

   &__item {
      display: grid;
      flex-basis: rem(300);
      padding: rem(20);
      transition: box-shadow .3s ease;
      gap: rem(3);
   }

   &__item:not(:hover, :focus-visible) {
      box-shadow: none;
   }

   &__profession {
      padding-bottom: em(7,20);
      @include rfs(20px);
   }

   &__place {
   }

   &__years {
   }
}