@use "__config" as *;
.resume {

   &__header {
      padding-bottom: 0.5em;
      text-transform: uppercase;
   }

   &__panel {
   }

   &__list {
      display: flex;
      gap: rem(20);
      padding-bottom: rem(30);
      flex-wrap: wrap;
      @media (min-width: 70em) {
         gap: rem(50);
      }
   }

}